body { background-image:url('back.png'); }

#top { font-size: 1.4em; margin-bottom: 10px; background-color:#fff; border-radius: 3px; padding-left:5px;} 
#top input{ font-size:1.0em; width:8em; }
#top input[type="checkbox"]{ width:auto; }
#top input[type="radio"]{ width:auto; }

#info { font-size: 1.4em; background-color:#fff; border-radius: 3px; padding:1px 15px 20px 15px;} 
#info img { margin: 10px; float:right;}
#info br.clear { clear:both;}
#info table { border: 1px solid black; margin: 0px 15px 10px 0px; float:left;}

#plain {float:left; width:100%; margin-right:10px; text-align:center;}
#cipher { float:right; width:100%; text-align:center;}
textarea { width:100%; height:8em; font-size: 1.1em;}
input[type="button"] { font-size:1.0em; }
.thinking { background-color: #ccc; }

@media all and (min-width: 400px){
	textarea { height:9em;}
	#plain { width:48%;}
	#cipher { width:48%;}
}

@media all and (min-width: 600px){
	textarea { height:14em;}
	#plain { width:48%;}
	#cipher { width:48%;}
}